ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
BUNDLE_LOADER = $(TEST_HOST)
CODE_SIGN_STYLE = Automatic
INFOPLIST_FILE = ExampleXcodeprojTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = ["$(inherited)", "@executable_path/Frameworks", "@loader_path/Frameworks"]
PRODUCT_BUNDLE_IDENTIFIER = com.waydeveloper.ExampleXcodeprojTests
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 4.0
TARGETED_DEVICE_FAMILY = 1,2
TEST_HOST = $(BUILT_PRODUCTS_DIR)/ExampleXcodeproj.app/ExampleXcodeproj
